<div class="dropdown ">
    <button class="mainmenubtn">Somethings...</button>
    <div class="dropdown-child">
        <a href="#part1">Налаштування шрифтів</a>
        <a href="#part2">fONT-FAMILY</a>
        <a href="#part3">Оголошення кольору</a>
        <a href="#part4">Display</a>
        <a href="#part5">Visibility</a>
        <a href="#part6">Перенесення слів</a>
        <a href="#part7">Розміри блоків</a>
        <a href="#part8">Відступи</a>
    </div>
</div>
<header>
    <div class="card col-12">

        <p class="bb display-1 m-auto p-3 col-8 text-center">
            <b>Hello World!</b>
        </p>

        <p class="text-center">Основні теги, що допомагають працювати із стилізацією</p>

    </div>
</header>



<main class="row p-5">


    <div class="card p-5 col-5 m-5">
        <p id="title" class="rr p-3 col-8">Вендорні преффікси </p>
        <p>Це префікси що забезпечують корректну роботу цсс властивостей у ріщних браузерах </p>
        <ul>
            <li>-webkit - Chrome,Safari,Opera</li>
            <li>-moz - mozilla firefox</li>
            <li>-ms - internet explorer Microsoft Edge</li>
            <li>-o - Opera</li>
            <li>text-fill-color Колір заливки тексту який визначае колр заливки тексту </li>
            <p class="teg">text-stroke використовується разом із цим тегом - визначає колір та ширину для текстових
                символів</p>
            <p>Direction rtl ltr- напрямок тексту </p>
        </ul>
    </div>
    <div class="card p-5 col-5 m-5">
        <p id="title" class="rr p-3 col-8">Глобальні значення властивостей</p>
        <ul>
            <li id="test">initial - значення властивості встановлюється за замовченням </li>
            <li>inherit - Значення властивості успадковується від батьківського тегу</li>
            <li>unset - значення успадковується від батьківського тегу, якщо такої можливості немає встановлюеться за
                замовчуванням</li>
            <li>none - скасовує будьякі значення властивості та встановлені значення за замовчуванням</li>

        </ul>
    </div>
    <div class="card p-5 col-5 m-5">
        <p id="title" class="rr p-3 col-8">Орієнтація тексту</p>
        <ul>
            <li><em id="gg">writing-mode </em> відповідає за <p id="gh">орієнтацію </p> тексту </li>
            <li>horizontal-tb горизонтальний рядок вертикальна колонка значення за замовчуванням</li>
            <li>vertical-rl вертикальний рядок, горизонтальна колонка з напрямком з справа на ліво</li>
            <li>vertical-lr вертикальний рядок, горизонтальна колонка з напрямком з ліва на право</li>
            <li> text-align властивість котра встановлює горизонтальне вирівнювання тексту</li>
            <h6><b>значення</b> </h6>
            <p>left right center</p>
            <p>start - вирівнюється по початковій стороні відповідно до орієнтації тексту</p>
            <p>end - вирівнюється по кінцевій стороні відповідно до напрямку та орєнтації тексту</p>
            <p>justify - розтягує текст на усю ширину додаючі необхідні пробіли, при необхідності</p>

        </ul>
    </div>
    <div class="card p-5 col-5 m-5">
        <p id="title" class="rr p-3 col-8">Регістр тексту - text-transform</p>
        <p>Властивість яка дозволяє змінювати регістр букв у тексті</p>
        <ul>
            <li>uppercase - перетворює текст у верхній регістр </li>
            <li>lowercase - перетворює текст у нижній регістр </li>
            <li id="tt">capitalize - перетворює кожну першу букву у словах на верхній регістр</li>
        </ul>
    </div>
    <div class="card p-5 col-5 m-5">
        <p id="title" class="rr p-3 col-6"> Ширина табуляції тексту tab-size</p>
        <p>Властивість яка дозволяє змінювати ширину табуляції у тексті
            У значення просто ставиться ціле число</p>
        <p id="title" class="rr p-3 col-6">letter-spacing </p>
        <p>властивість яка визначчає відстані між символами у тексті. Значення вводится у числі пикселів або прописувати
            ЕМ</p>
    </div>
    <div class="card p-5 col-5 m-5">
        <p id="title" class="rr p-3 col-8">Text-decoration </p>
        <p>властивість яка додає ефекти до тексту </p>
        <p>Отже доступні такі значення :
        <ul id="text">
            <li>L-яка лінія: text-decoration-line</li>
            <ol>
                <li>underline під текстом; overline над текстом; line-through перечеркування</li>
            </ol>
            <li> T- тип лінії: text-decoration-style </li>
            <ol>
                <li>solid-звичайна doubl- подвійна; dotted-пунктир; dashed -штрихова; wavy-хвиляста</li>
            </ol>
            <li>C-колір text-decoration-color</li>
        </ul>
        </p>

    </div>
    {{!-- ЧЕРГОВИЙ УКРОК : ШРИФТИ ТА ЇХ ВИКОРИСТАННЯ --}}
    <div class="card">
        <p id="title" class="rr p-3 col-3"> ШРИФТИ</p>
        <p id="part2">fONT-FAMILY</p>
        <ul>
            <li>serif - вказує на шрифти з засічками які використовуються для друкованих матеріалів або документів</li>
            <li>sans-serif - вказує на шрифтбез засічок, використовується для екранного відображення</li>
            <li>monospace - вказує на ті шрифти де всі символи мають однакову ширину, зазвичай використовуються для
                відображення коду</li>
            <li>cursive - вказує на ті що імітують почерк чи графіку</li>
            <li>fantasy - вказує на фантазійні шрифти, що можуть мати незвичайну форму</li>
        </ul>
    </div>
    <div class="card p-5 col-5 m-5">
        <p id="title" class="rr p-3 col-3"> Розміри</p>
        <p>fONT-SIZE - вводиться у пікселях</p>
        <ul>
            <li>xx-small дуже малий розмір</li>
            <li>small малий розмір</li>
            <li>medium середній, відповідає розміру за замаовчуванням</li>
            <li>large великий розмір шрифту</li>
            <li>x-large встановллює дуже вликий розмір шрифту</li>
            <li>xx-large - встановлює супер великий розмір шрифту</li>
            <p>також є можливість виставляти відносні до батьківського розміри шрифтів, використовуючи smaller або
                larger => такі варанти коригування використовуються для створення адаптивних дизайнів </p>
            <p>Крім того використовуються абсолютні значення - у конкретних одиницях виміру</p>
        </ul>
    </div>
    <div class="card p-5 col-5 m-5">
        <p id="title" class="rr p-3 col-3"> Товщина</p>
        <p>fONT-weight</p>
        <ul>
            <li>normal 400 - нормальна</li>
            <li>bold 700 - жирна товщина </li>
            <li>bolder - встановлює товщину шрифту жирнішу ніж наявне значення</li>
            <li>lighter - такий самий принцип але меньш жирнішу</li>
            <p>також доступні числові значення від 100 до 900 - що надає значення рівню толщмни</p>
            <p>font-style - окрема властивість для встановлення стилю єлемента, використовуєються такі значення:
                normal-звичайний стиль; italic-кірсив; oblique- нахил</p>
        </ul>
    </div>
    <div class="card p-5 col-5 m-5">
        <p id="title" class="rr p-3 col-5"> прогрузка шрифту</p>
        <p>fONT-DISPLAY</p>
        <P>ДАЄ ВКАЗІВКУ БРАУЗЕРУ , як поводитися коли шрифт завантажується з сервера</P>
        <ul>
            <li>auto -За замовчуванням , браузер використовуює свою стратегію</li>
            <li>block -Вказує приховати текст, поки шрифт не заввантажеться</li>
            <li>swap -браузер повинен підібрати схожий шрифт, поки не завантажеться заданий</li>
            <li>fallback -браузер приховає шрифт на 100 мс , якщо він ще не буде заванажений використає резервний шрифт
                , а якщо є змінить його приблщзно через 3 сек</li>
            <li>optional -може відкласти завантаження шрийту поки сторінка не буде завантажена повністю</li>
        </ul>
    </div>
    {{!-- теоричтичний урок із властивостями та командами цсс що вже актуальні але недостатньо розповсюджені --}}
    <div class="card p-5 col-5 m-5">
        <p id="title" class="rr p-3 col-5">Покищо нерозповсюджені властивості</p>
        <p id="part3">Оголошення кольору</p>
        <P>ДАЄ ВКАЗІВКУ БРАУЗЕРУ , як поводитися коли шрифт завантажується з сервера</P>
        <ul>
            <li>lch() — це CSS функція, яка представляє колір у просторі
                LCH (Lightness, Chroma, Hue) з використанням значень
                світлості, насиченості та відтінку.</li>
            <li>lightness Визначає світлість коліру. Має значення від 0 до
                100, де 0 - абсолютний чорний колір, а 100 - абсолютно білий
            <li> chroma - Визначає насиченість коліру. Має значення від 0 до
                100, де 0 - відсутність насиченості, а 100 -
                максимальна насиченість </li>
            <li> hue Визначає відтінок коліру. Має значення від 0 до 360,
                де 0 і 360 - червоний колір, 120 - зелений колір, а
                240 - синій колір </li>
            <li>A Прозорість, яка представляється як число в діапазоні від 0% до 100%</li>
            <li>color-mix() — це CSS функція, яка застосовується для
                створення нового колірного значення, змішуючи два
                вихідних кольори у відсотках або числах.</li>
            <li>accent-color — це CSS властивість, яка встановлює колір
                акценту, який використовується в різних елементах
                інтерфейсу, таких як кнопки, радіо-кнопки, чекбокси, полоси
                прокрутки та інші</li>
            <li>hwb() — це CSS функція, яка використовується для

                визначення кольорів за стандартом HWB (Hue-Whiteness-
                Blackness) в CSS.</li>
            <ul>
                <li>hue - Відтінок від 0 до 360 градусів</li>
                <li>whiteness - Насиченість білого від 0 до 100%</li>
                <li>blackness - Насиченість чорного від 0 до 100%</li>
            </ul>
        </ul>
    </div>
    <div class="card p-5 col-5 m-5">
        <p id="title" class="rr p-3 col-5"> Рендеринг тексту</p>

        <P>text-rendering — використовується для встановлення того,
            як браузер повинен візуалізувати текст на сторінці. Потрібно для СЕО-оптимізації</P>
        <ul>
            <li>auto -Браузер визначає, який метод рендерингу (малюванні)
                тексту використовувати.Це значення за замовчуванням.</li>
            <li>optimizeSpeed - швидший метод рендерингу, але текст може
                відображатись менш якісно. Він вимикає кернінг і лігатури.</li>
            <li>optimizeLegibility Краща якість рендерингу тексту, але може бути повільнішим.</li>
            <li>fallback -браузер приховає шрифт на 100 мс , якщо він ще не буде заванажений використає резервний шрифт
                , а якщо є змінить його приблщзно через 3 сек</li>
            <li>geometricPrecision Рендеринг тексту точніший, але менш оптимальний для відображення на великих екранах.
            </li>
        </ul>
    </div>
    <div class="card p-5 col-5 m-5">
        <p id="title" class="rr p-3 col-5"> Акцент тексу</p>

        <P>text-emphasis — використовується для встановлення відмітки над певним текстом. Не працює Opera Mini та IE</P>
        <ul>
            <li>
                <color> style - стиль відмітки, color - колір відмітки, Доступна окрема властивість text-emphasis-style
                    <p>Доступна окрема властивість text-emphasis-color</p>
            </li>
            <li id="dote">filled Робить відмітку тексту заповненою
            <li id="dote">open Робить відмітку тексту лише обведенням</li>
            <li id="dote1">dot Відображує маленькі кружечки («•») як позначки</li>


            <li id="dote2"> circle Відображує великі кола («●») як позначки</li>
            <li id="dote3">
                <p> double-circle </p>Відображує подвійні кола («◉») як позначки
            </li>
            <li id="dote4"> triangle Відображує трикутники («▲») як позначки</li>
            <li id="dote5"> sesame Відображує кунжут («﹅») як позначки.
                Це форма за замовчуванням у вертикальних режимах
                написання, якщо іншої форми не задано.</li>
        </ul>
    </div>
    {{!-- блок відображення --}}
    <div class="card p-5 col-5 m-5">
        <p id="title" class="rr p-3 col-5"> ВІДОБРАЖЕННЯ</p>
        <p id="part4">Display - властивість що визначає відображення елемента на вебсторінці</p>
        <ul>
            <li>none елемент не відображється зовсім, але його можливо використовувати як спливаюче вікно </li>
            <li class="hhh">block елемент відображається як блок, та займє усю ширину батьківського елемента</li>
            <li class="hhline">inline елемент відображається в рядку, поряд з іншими елементами, не переноситься на
                новийй рядок</li>
            <li class="hhlibl">inline-block елемент відображається в рядку але мое мати ширину та висоту, внутрішні
                відступи та інщі властивостіЗОКРЕМА ДЛЯ ТАКОЇ ВЛАСТИВОСТІ МОЖЛИВО ЗАДАВАТИ ВИСОТУ ТА ІНЩЕ НА ВІДМІНУ ВІД
                LINE </li>
        </ul>
    </div>
    <div class="card p-5 col-5 m-5">
        <p id="title" class="rr p-3 col-5"> ВІДСТУПИ</p>
        <p>margin -ЗАДАЄ ЗОВНІШНІ ВЛАСТИВОСТІ</p>
        <ul>
            <li>auto - автоматичне вирівнювання відступів, а також можливе відсоткове співвідношення або вказання
                конкретних одиниць вимірювання</li>
            <p>на один марджин можливо навішати усі відступи по годинниковій стрілці, починаюи з відступів зверху, отже
                верх право низ ліво, якщо лише два тоді задається спочатку вертикальний а потім горизонтальній відступи
            </p>
            <p>для того щоб скористатися властивістю margin auto потрібно щоб елемент був заданий display block</p>

        </ul>
        <p>width -ширина</p>
        <ul>
            <li>auto - автоматичне вирівнювання відступів, в залежності від контенту та властивостей батьківського
                елементу</li>
            <p>також можливе надання значенняя довжини в конкретних одиницях вимірювання або у відсотковому
                співвідношенні</p>
            <li>fit-content - задає ширину елемента що відповідає його контейнеру</li>
            <li>min-content - задає мінімальну ширину лемента</li>
            <li>max-content - задає максимальну ширину</li>
        </ul>
        <p>padding -внутрішні відступи</p>
        <ul>
            <p>Можливе надання значенняя довжини в конкретних одиницях вимірювання або у відсотковому співвідношенні</p>

        </ul>
        <p>height - визначає висоту елемента</p>
        <ul>
            <li>auto - автоматичне вирівнювання відступів, в залежності від контенту та властивостей батьківського
                елементу</li>
            <p>також можливе надання значенняя довжини в конкретних одиницях вимірювання або у <strong>відсотковому
                    співвідношенні</strong> </p>
            <li>fit-content - задає ширину елемента що відповідає його контейнеру</li>
            <li>min-content - задає мінімальну ширину лемента</li>
            <li>max-content - задає максимальну ширину</li>
            <li> <em> <b>min-height</b> </em> - значення мінмальної висоти, в якій корректні усі вищезаначені
                властивості</li>
            <li> <em> <b>max-height</b> </em> - значення максимальної висоти, в якій корректні усі вищезаначені
                властивості</li>

        </ul>
    </div>
    <div class="card p-5 col-5 m-5">
        <p id="title" class="rr p-3 col-5"> РОЗМІР КОРОБКИ</p>
        <p>BOX-SIZING - властивість що визначає ЯК РОЗРАХУВАТИ РОЗМІР ЕЛЕМЕНТА</p>
        <ul>
            <li>CONTENT-BOX розмір елементів включає лише його вміст не враховуючі внутрішні відступита рамку </li>
            <li>BORDER-BOX розмір елемента вклчає його внутрішні відступи та рамки </li>
        </ul>
    </div>
    {{!-- обрізання тексту --}}
    <div class="card p-5 col-5 m-5">
        <p id="title" class="rr p-3 col-5"> Видимість</p>
        <p id="part5">visibility - властивість що яка допомогає приховати певний елемент з екрана браузера та не ламає
            верстку</p>
        <ul>
            <li>hidden приховати елемент </li>
            <li>visible- показати елемент </li>
            <li>collepse- працює як хайден але покращує відображення у певних випадках </li>
            <h6>випадки для колапс</h6>
            <p>Коли ми працюємо з таблиями "табле" дозволяє приховати рядки або стовпці таблиці видаляючі їх простір але
                зерігаючи ророзміриінших елементів</p>
            <p>Згорнуті елементи при роботі з дисплей флекс та рубіновані анотації рубі, простір який вони займали -
                видалено</p>
        </ul>
        <ul>
            <h6>Обрізання блоку <b>overflow</b> властивість яка відповідає ща те як саме потрібно показати контент</h6>
            <li>overflow-x -якщо треба задати для горизонтальної сторони</li>
            <li>overflow-y -до вертикальної сторони</li>
            <p>auto браузер автоматично визначає чи повинен додавати смужку прокрутки, відповідно до розміру змісту</p>
            <p>visible елемент виводиться з області блоку але може призвести до пререкритття інших елементів </p>
            <p>hidden вміст що виходить за межі блоку буде приховано</p>
            <p>clip працює як хайден але повністю забороняє прокрутку </p>
            <p>scroll додае смужки прокрутки щоб користувач міг прокручувати вміст але вони займають місце справа</p>
            <p>overlay працює як ауто але смужки прокручування намальовані поверх контенту й не займають місце збоку</p>
        </ul>
    </div>
    <div class="card p-5 col-5 m-5">
        <p id="title" class="rr p-3 col-5"> Обрізання тексту</p>
        <p>text-overflow - властивівст яка доапомагає додати три крапки</p>
        <ul>
            <li>clip текст обрізаєтся коли він виходить за межі блоку значення за замовчуванням </li>
            <li>ellipsis текст обрізаєтся коли він виходить за межі блоку але в кінці додається три крапки</li>
        </ul>
    </div>
    <div class="card p-5 col-5 m-5">
        <p id="title" class="rr p-3 col-5"> Пропуск білих символів</p>
        <p>white-space властивість яка обробляє пробіли між словами та перенесення рядків усерелині елемента</p>
        <ul>
            <li>normal між словами вставляється по одному пропуску, додаткові відкидаются</li>
            <li>nowrap забороняє перенесення рядків за виинятко застосування бр</li>
            <li>pre відображає пробіи та перенесення так я є в коді </li>
            <li>pre-wrap - відображає пробіли та перенесення так як в коді але в потрібних місцях переноситься текст
            </li>
            <li>pre-line виділяє усі додаткові пробіли в коді відображає символи перенесення та переносить текст </li>
            <li>break-space працює як пре врап але переносить пробіли на новий рядок</li>
        </ul>
        <p>overflow-wrap - властивість яка відповідає за те як саме потрібно перенести текст якщо все останне </p>
        <ul>
            <li>normal значення за замовчуванням</li>
            <li>anywhere розризв слова буде відбуватися у будь-яких місцях</li>
            <li>breack-word якщо слово не поміщаеться у потрібному рядку, то розвир слова буде відбуватися у накращому
                місці</li>
        </ul>
    </div>
    <div class="card p-5 col-5 m-5">
        <p id="title" class="rr p-3 col-5"> Пропуск білих символів</p>
        <ul>
            <li>normal між словами вставляється по одному пропуску, додаткові відкидаются</li>
            <li>nowrap забороняє перенесення рядків за виинятко застосування бр</li>
            <li>pre відображає пробіи та перенесення так я є в коді </li>
            <li>pre-wrap - відображає пробіли та перенесення так як в коді але в потрібних місцях переноситься текст
            </li>
            <li>pre-line виділяє усі додаткові пробіли в коді відображає символи перенесення та переносить текст </li>
            <li>break-space працює як пре врап але переносить пробіли на новий рядок</li>
            <p>Також є властивість word-break яка відповідае за перенесення усіх слів а не лише одного слова</p>
            <li>normal значення за замовчуванням</li>
            <li>break-all перенесення слів не застосовується але слова розбиваються у потібному місці</li>
            <li>keep-all забороняє розрив між словами </li>
            <li>break-word слова які не вміщаються будуть розбиті на два слова щоб влізти</li>
        </ul>
    </div>
    <div class="card p-5 col-5 m-5">
        <p id="title" class="rr p-3 col-5"> Перенеення слова через символ</p>
        <p id="part6">hyphens - властивість дозволяє створювати мікі переноси слів на новий рядок</p>
        <ul>
            <li>none слова не переносяться</li>
            <li>auto браузер сам вирішує як переносити </li>
            <li>manual слова переносяться через символ &shy;</li>

        </ul>
        <p>hyphenate-character - властивість дозволяє задавати зовнішній вигляд для переносу</p>
        <ul>
            <li>normal - слова не переносяться</li>
            <li>Довжина задається у ббудь яких одиницях вимірювання</li>
        </ul>
        <p>word-spacing інтервал між словами у тексті</p>
        <p>resize дає можливіссть змінити користувачу розміри елемента за допомогою мищі </p>
        <ul>
            <li>none по замовченню </li>
            <li>both по горизонталі та по вертикалі</li>
            <li>horizontal по горизонталі</li>
            <li>vertical дозволяє змінювати розміри елемента лише по вертикалі</li>
        </ul>
    </div>
    <div class="card p-5 col-5 m-5">
        <p id="title" class="rr p-3 col-5"> Розмір блоку</p>
        <p id="part7">block-size — це CSS властивість, яка встановлює висоту
            блоку у залежності від орієнтації зображення
            (горизонтальна та вертикальна)</p>
        <ul>
            <li>auto Браузер встановлює розмір блоку самостійно, залежно від контенту</li>
            <li>довжина Вказується конкретна довжина для блоку.</li>
            <li>% Вказується розмір блоку відносно розміру батьківського контейнера</li>
            <li>max-content Встановлює розмір блоку, який не перевищує максимальний розмір контенту внутрішніх елементів
            </li>
            <li>min-content Встановлює розмір блоку, який не менше мінімального розміру контенту внутрішніх елементів.
            </li>
        </ul>
        <p>inline-size — це CSS властивість, яка встановлює ширину блока відповідно до його орієнтації (вертикальна або
            горизонтальна)</p>
        <ul>
            <li>атрибути такі самі як подано вище</li>
        </ul>
    </div>
    <div class="card p-5 col-5 m-5">

        <p>border-block — це CSS властивість, яка встановлює
            вертикальні рамки відповідно до орієнтації тексту
            (вертикальна орієнтація чи горизонтальна)</p>
        <ul>
            <p>border-block-start — це CSS властивість, яка встановлює
                верхню рамку відповідно до орієнтації тексту (вертикальна
                орієнтація чи горизонтальна)</p>
            <li>W S C W - ширина, S - стиль, C - колір
                W (width) border-block-width
                S (style) border-block-style
                C (color) border-block-color</li>
            <li>W S C W - ширина, S - стиль, C - колір
                W (width) border-block-start-width
                S (style) border-block-start-style
                C (color) border-block-start-color</li>
        </ul>
        <ul>
            <p>border-block-end — це CSS властивість, яка встановлює
                нижню рамку відповідно до орієнтації тексту (вертикальна
                орієнтація чи горизонтальна)</p>
            <ul>
                <p>border-block-style — це CSS властивість, яка
                    використовується для встановлення стилю рамки для
                    вертикальних сторін елементу</p>
                <li>solid Оформлює рамку суцільною лінією
                    dotted Оформлює рамку точковою лінією
                    dashed Оформлює рамку пунктирною лінією
                    double Оформлює рамку подвійною лінією
                    none Встановлює відсутність стилю рамки
                    groove Оформлює рамку об'ємною втисненою рамкою
                    ridge Оформлює рамку об'ємною опуклою рамкою</li>
            </ul>
    </div>
    <div class="card p-5 col-5 m-5">
        <p id="title" class="rr p-3 col-5"> Відступ</p>
        <p id="part8">inset — це CSS властивість, яка використовується для
            встановлення відступів від різних сторін відносно
            батьківського елемента або вікна перегляду</p>
        <ul>
            <li>довжина Вказує величину відступу в пікселях, ем, rem,
                відсотках або інших допустимих одиницях виміру auto За замовчуванням, якщо не вказано інше значення,
                браузер встановлює автоматичні відступи</li>
        </ul>
        <p>inset-inline — це CSS властивість, яка встановлює зовнішні
            бокові відступи (зліва та справа), які залежать від орієнтації
            тексту</p>
        <ul>
            <li>S E S — лівий відступ, Е — правий відступ S (start) inset-inline-start
                E (end) inset-inline-end</li>
            <li>довжина Відступ зазначеної довжини в одиниці виміру
                % Значення відсотка від розміру відносного вмісту,
                заданого батьківським елементом.
                auto Браузер встановлює значення автоматично</li>
        </ul>
        <p>inset-block — це CSS властивість, яка встановлює зовнішні
            вертикальні відступи (зверху на знизу), які залежать від орієнтації тексту</p>
        <ul>
            <li>S E S — верхній відступ, Е — нижній відступ
                S (start) inset-block-start
                E (end) inset-block-end</li>
            <li>auto За замовчуванням. Браузер обчислює відстань самостійно
                довжина Вказує відстань у пікселях, ем, відсотках або інших
                допустимих одиницях виміру довжини.
                % Вказує відстань від верхньої межі контейнера відсотками від висоти контейнера.</li>
        </ul>
        <p>padding-inline — це CSS властивість, яка встановлює
            внутрішній відступ зліва та справа блоку</p>
        <ul>
            <li>S E S — зліва відступ, Е — справа відступ
                S (start) padding-inline-start
                E (end) padding-inline-end</li>
            <li>довжина Встановлює внутрішні відступи у конкретній одиниці вимірювання
                % Встановлює значення внутрішнього відступу відносно
                розміру батьківського елементу</li>
        </ul>
        <p>margin-block — це CSS властивість, яка встановлює
            зовнішній відступ вгорі та внизу блоку</p>
    </div>
    <div class="card p-5 col-5 m-5">
        <p id="title" class="rr p-3 col-5"> Висота</p>
        <p>min-block-size — це CSS властивість, яка встановлює
            мінімальний розмір висоти блоку відповідно до його
            орієнтації.</p>
        <ul>
            <li>довжина Задається довжина в пікселях (px), відсотках (%), em або інші одиниці виміру.</li>
            <li>% Задається відсоток від розміру батьківського елемента</li>
            <li>min-content Задається мінімальний розмір, необхідний для вміщення всіх внутрішніх елементів. </li>
            <li>max-content Задається максимальний розмір, що залежить від контенту внутрішніх елементів, з відповідними
                обмеженнями </li>
        </ul>
        <p>max-block-size — це CSS властивість, яка встановлює максимальний розмір висоти блоку відповідно до його
            орієнтації.</p>
        <ul>
            <li>відношення та властивості що можуть надаватися такі самі як у попередньому</li>
            окрім цього є
            <li>min-inline-size — це CSS властивість, яка встановлює
                мінімальний розмір ширини блоку відповідно до його
                орієнтації</li>
            <li>max-inline-size — це CSS властивість, яка встановлює
                максимальний розмір ширини блоку відповідно до його
                орієнтації</li>
        </ul>
    </div>
    <div class="card p-5 col-5 m-5">
        <p id="title" class="rr p-3 col-5"> вирівнювання тексту</p>
        <p>text-justify - це CSS властивість, яка встановлює
            вирівнювання і вирівнювання пробілів в рядках тексту, коли
            відстань між словами більша за ширину блоку.</p>
        <ul>
            <li>inter-word Пробіли між словами розширюються, для заповнення ширини блоку</li>
            <li>auto Браузер сам обирає, як вирівнювати текст. Значення за замовчуванням</li>
            <li>none Тест не вирівнюється</li>
            <li>inter-character Символи розширюються або стискаються, щоб
                заповнити ширину блоку, незалежно від пробілів</li>
            <li>distribute Відстані між символами та словами розподіляються рівномірно, щоб заповнити ширину блоку</li>
        </ul>
        <p>text-decoration-skip-ink — це CSS властивість, яка
            визначає, як текстове оформлення (наприклад, лінія
            підкреслення) поводить себе навколо символів з високим
            контрастом, таких як літери з "що зависають" елементами,
            які виходять за межі звичайного літерного боксу
            Працює на останніх версіях браузерів окрім IE та мобільної
            Firefox, майже не підтримується властивість “All”</p>

        <li>none Текстове оформлення буде застосовуватись навколо
            всього тексту, включаючи всі символи
            auto Текстове оформлення буде застосовуватись навколо
            всього тексту, включаючи символи з високим контрастом
            Значення за замовченням
            all Текстове оформлення пропускає пробіли
            та символи з високим контрастом</li>
    </div>


    <div class="card p-5 col-5 m-5">
        <p id="part1">font-variation-settings — це CSS властивість, яка дозволяє
            контролювати варіації шрифту, такі як нахил, жирність, ширина</p>
        <ul>
            <li>normal Варіація шрифту встановлюється за замовчуванням.</li>
            <li>string Використовується для вказівки значень варіацій шрифту за їхніми назвами</li>
            <li>number Використовується для вказівки числових значень варіацій шрифту</li>
        </ul>
        <p>line-break — це CSS властивість, яка визначає, як браузер
            повинен розбивати рядки, якщо вони не поміщаються в
            контейнері.</p>
        <ul>
            <li>anywhere Розбиває текст, на рядки у будь-якому місці, де це є
                необхідним, ігноруючи правила перенесення слів та довжину окремих слів.</li>
            <li>strict Розбиває текст відповідно до розміру контейнера, і відступи між словами будуть збільшені, якщо це
                дозволено за правилами мови, наприклад, у німецькій мові.</li>
            <li>normal Розбиває текст відповідно до розміру контейнера, і відступи між словами будуть звичайними, без
                пропорційного збільшення.</li>
            <li>loose Розбиває текст відповідно до розміру контейнера, але відступи між словами будуть пропорційні</li>
        </ul>
    </div>

    <div class="card p-5 col-12">
        <div id="BG">
            <p>background-repeat — це CSS властивість, яка
                використовується для задання того, як повторювати фонове
                зображення.</p>
            <ul>
                <li>repeatфоновве зображення повторюється як по вертикалі так й по горизонталі</li>
                <li>repeat-x повторюється лище по горизонталі </li>
                <li>repeat-y по вертикалі </li>
                <li>no-repeat повторюється лише один раз</li>
                <li>round Фонове зображення повторюється пропорційно збільшуючи або зменшуючи його розмір, щоб
                    заповнити весь елемент</li>
                <li>space Фонове зображення повторюється пропорційно збільшуючи проміжки між ними, якщо зображення
                    не вміщається повністю</li>
            </ul>
            <p>background-attachment — це CSS властивість, яка
                визначає, як фонове зображення повинно бути закріплено
                відносно вікна перегляду.</p>
            <ul>
                <li>scroll зображення прокручується разом із сторінкою =це значення по замовчуванню</li>
                <li>fixed зображення залишаєтся нерухомим навіть при прокручуванні </li>
                <li>local зображення залишається разом в межах елементу та прокручується разом із контентом в елементі
                </li>
            </ul>
            <p>background-position — це CSS властивість, яка
                використовується для задання позиції фонового зображення
                відносно елемента.</p>
            <ul>
                <li>center Розміщує зображення по центру елемента.</li>
                <li>top Розміщує зображення вгорі елемента.</li>
                <li>bottom Розміщує зображення внизу елемента.</li>
                <li>left Розміщує зображення зліва від елемента. right Розміщує зображення справа від елемента</li>

            </ul>
            <p>background-size — це CSS властивість, яка
                використовується для встановлення розміру фонового
                зображення елемента</p>
            <ul>
                <li>auto Розмір зображення буде встановлено автоматично</li>
                <li>довжина Задається фіксований розмір зображення за допомогою довжини, такої як пікселі, сантиметри,
                    відсотки тощо</li>
                <li>% Розмір зображення встановлюється відносно розміру контейнера, в якому знаходиться фонове
                    зображення</li>
                <li>contain Фонове зображення розтягується, щоб зайняти всю доступну площу, не порушуючи при цьому
                    співвідношення сторін.</li>
                <li>cover Фонове зображення збільшується або зменшується, щоб вміститися в доступну площу, зберігаючи
                    співвідношення сторін.</li>
            </ul>
            <p>background-clip це властивість що відображає який регіон елементу буде використовуватися для відображення
                зображення або кольору
            </p>
            <ul>
                <li>border-box Фоновий колір або зображення відображається в
                    межах рамки. Значення за замовчуванням.</li>
                <li>padding-box Фоновий колір або зображення відображається в
                    межах поля елемента.</li>
                <li>content-box Фоновий колір або зображення відображається в
                    межах контенту елемента.</li>
                <li>text Фонове зображення або колір буде обмежене до
                    контенту тексту в межах елемента</li>
            </ul>
            <p>background-origin — це CSS властивість, яка визначає від
                якого місця елемента починається відображення фонового
                зображення.</p>
            <ul>
                <li>border-box Фонове зображення відображається в рамках,
                    обмежених зовнішнім полем елемента.</li>
                <li>padding-box Фонове зображення відображається в рамках,
                    обмежених внутрішнім полем елемента</li>
                <li>content-box фонове зображення відображається в межах контенту елементу тобто без врахування полів та
                    рамок </li>

            </ul>
        </div>
    </div>
    <div class="card p-5 col-5 m-5">
        <p>list-style — це CSS властивість, яка встановлює стилі
            для елементів списку, таких як
        <ul> і <ol>. list-style-type — це CSS властивість, яка використовується
                для встановлення виду маркера списку</p>
                <ul>
                    <li>disc Встановлює круглий маркер, який відображується
                        як заповнене коло. Є значенням за замовчуванням</li>
                    <li>circle Встановлює круглий маркер, який відображується як порожнє коло</li>
                    <li>square Встановлює квадратний маркер, який відображується як заповнений квадрат</li>
                    <li>decimal Встановлює нумерацію списку в десятковій системі числення</li>
                    <li>decimal-leading-zero Встановлює нумерацію списку в десятковій системі
                        числення, з додаванням нуля до чисел менше ніж 10</li>
                    <li>lower-roman Встановлює нумерацію списку римськими цифрами в нижньому регістрі.</li>
                    <li>upper-roman Встановлює нумерацію списку римськими цифрами в верхньому регістрі.</li>
                    <li>lower-alpha Встановлює нумерацію списку в алфавітному
                        порядку в нижньому регістрі.</li>
                    <li>upper-alpha Встановлює нумерацію списку в алфавітному
                        порядку в верхньому регістрі.</li>
                </ul>
                <p>display — це CSS властивість, яка визначає відображення
                    елемента на веб-сторінці</p>
    </div>
    <div class="card p-5 col-5 m-5">
        <p>list-style-position — це CSS властивість, яка визначає де
            будуть розміщуватись маркери списку відносно тексту</p>
        <ul>
            <li>inside Маркер розташовується всередині текстового блоку</li>
            <li>outside Маркер розташовується поза текстовим блоком</li>
        </ul>
        <p>list-style-image — це CSS властивість,
            яка встановлює зображення для маркера списку.</p>
        <ul>
            <li>url(image.png) Вказує шлях до файлу зображення в</li>
            <li>linear-gradient() Встановлює лінійний градієнт, де кінці градієнта
                знаходяться на протилежних кінцях елемента.</li>
            <li>radial-gradient() Встановлює радіальний градієнт, де центр градієнта
                знаходиться в центрі елемента.</li>
            <li>conic-gradient() Створює градієнт, який змінює колір у вигляді конуса. Це означає, що колір змінюється
                залежно
                від кута, який вимірюється від центру градієнта.</li>

        </ul>
    </div>
    <div class="card p-5 col-5 m-5">
        <p>table-layout — це CSS властивість, яка визначає, як браузер повинен відображати таблицю
            і розподіляти простір між стовпцями та рядками</p>
        <ul>
            <li>fixed Браузер використовує ширину стовпців, задану користувачем або визначену автоматично, і
                розподіляє простір між стовпцями рівномірно, незалежно від вмісту комірок таблиці.</li>
            <li>auto Браузер обчислює ширину стовпців та розподіляє рядки відповідно до вмісту комірок таблиці.</li>
        </ul>
        <p>border-collapse — це CSS властивість, яка
            використовується для задання того, чи повинні
            об'єднуватися рамки таблиці в одну рамку, чи ні.</p>
        <ul>
            <li>separate Рамки таблиці не повинні об'єднуватися і повинні бути розташовані окремо одна від одної
            </li>
            <li>collapse Рамки таблиці повинні бути об'єднані в одну рамку.
            </li>
        </ul>
        <p>border-spacing — це CSS властивість, яка встановлює відстань між рамками таблиці</p>
        <ul>
            <li>Довжина Відстань між рамками таблиці</li>
        </ul>
        <p>caption-side — це CSS властивість, яка використовується
            для визначення положення заголовка таблиці</p>
        <ul>
            <li>bottom Заголовок відображається знизу таблиці</li>
            <li>top Заголовок відображається зверху таблиці</li>
        </ul>
        <p>empty-cells — це CSS властивість, яка визначає
            відображення границі комірок, в яких немає контенту.</p>
        <ul>
            <li>show Границі будуть відображені навіть для порожніх комірок</li>
            <li>hide Границі будуть приховані для порожніх комірок</li>
        </ul>
    </div>
    <div class="card p-5 col-5 m-5">
        <table class="table">
            <caption> <strong> сontent</strong> — це CSS властивість, яка використовується
                для вставки вмісту псевдо елементів ::before та ::after</caption>
            <tbody>
                <tr>
                    <td>url() Вставляє картинку за URL-адресою</td>
                    <td>no-close-quote Відключає лапки, що закриваються, перед елементом.</td>
                    <td>no-open-quote Відключає лапки, що відкриваються, перед елементом</td>
                    <td>close-quote Встановлює лапки, що закриваються, перед елементом</td>
                    <td>open-quote Встановлює лапки, що відкриваються, перед елементом</td>
                    <td>
                        <string> Вставляє текстовий рядок
                    </td>
                    <td>none Відсутність вмісту nf normal Не додає жодного додаткового вмісту до елемента. Значення за
                        замовчуванням</td>
                </tr>
            </tbody>
            <p>сalc() — це CSS функція, яка дозволяє виконувати
                арифметичні операції в межах CSS властивості</p>
            <p>Приклад
                .example {
                font-size: 50% - 15px ;
                }</p>
            <p>var() — це CSS функція, яка використовується для
                визначення значення CSS змінних.</p>
            <p>var(--<name>, <default>). де нейм це назва змінної а дефолд значення по замовчуванню</p>
        </table>
    </div>
    {{!-- Позиціонування --}}
    <div class="card p-5 col-10 m-5">
        <div class="flex">
            <p>Позиціювання — це процес верстки, якій відповідає
                за розподілення елементів на сторінці інтерфейсу</p>

            <ul> <strong>Гнучке позиціювання (flexbox) — це сучасна технологія
                    позиціювання в CSS, яка є альтернативою сіткової системи</strong>
                <li>flex Елемент відображається як гнучкий блоковий контейнер</li>
                <li>inline-flex Елемент відображається як гнучкий рядковий контейнер</li>
            </ul>

            <ul>
                <p>flex-direction — це CSS властивість, яка визначає напрямок,
                    в якому розміщуються елементи flex-контейнера.</p>
                <li>row Горизонтально зліва направо.</li>
                <li>row-reverse Горизонтально справа наліво</li>
                <li>column Вертикально зверху вниз.</li>
                <li>column-reverse Вертикально знизу вгору.</li>
            </ul>
            <ul>
                <li>flex-wrap — це CSS властивість, яка використовується для
                    вказівки, чи можуть елементи переноситись на новий рядок</li>
                <li>nowrap Елементи не можуть переноситься на наступний
                    рядок або колонку і все розміщується в один рядок</li>
                <li>wrap Елементи можуть переноситись на наступний рядок
                    або колонку, якщо це необхідно</li>
                <li>wrap-reverse Елементи можуть переноситись на наступний рядок
                    або колонку у зворотному порядку</li>
                <br>
                <li> <em>flex-flow — це CSS властивість, яка є скороченням
                        для властивостей flex-direction та flex-wrap</em> </li>
            </ul>
        </div>
    </div>
    <div class=" card p-5 col-5 m-5">
        <strong>justify-content — це CSS властивість, яка відповідає
            за розміщення елементів по основній лінії</strong>
        <ul>
            <li>flex-start Елементи вирівнюються на початку лінії</li>
            <li>flex-end Елементи вирівнюються в кінці лінії</li>
            <li>center Елементи вирівнюються по центру лінії</li>
            <li>space-between Елементи рівномірно розподіляються по лінії</li>
            <li>space-around Елементи рівномірно розподіляються
                по лінії з однаковими відстанями між ними
                та з меншим відступом від країв контейнера</li>
            <li>space-evenly Елементи рівномірно розподіляються по лінії з
                однаковими відстанями між елементами та країв блоку</li>
            <li>stretch Елементи розтягуються, щоб заповнити всю лінію</li>
        </ul>
        <ul>
            <li>align-content — це CSS властивість, яка відповідає
                за розміщення елементів по другій лінії . працює лише у випадках коли стоїть ФЛЕКС ВРАП ВРАП,
                ВІНШОМУ ВИПАДКУ БУДЬ ЯКІ ВЛАСТИВОСТІ ЩО МИ БУДЕМО НАДАВАТИ НЕ БУДУТЬ ЗАСТОСОВУВАТИСЯ</li>
            <li>flex-start Елементи вирівнюються на початку другої лінії / зверху</li>
            <li>flex-end Елементи вирівнюються в кінці другої лінії знизу</li>
            <li>center Елементи вирівнюються по центру другої лінії</li>
            <li>stretch Елементи заповнюють всю другу лінію</li>
            <li>space-between Елементи рівномірно розподіляються по другій лінії</li>
            <li>space-around Елементи рівномірно розподіляються
                по другій лінії з однаковими відстанями між ними
                та з меншим відступом від країв контейнера</li>
            <li>space-evenly Елементи рівномірно розподіляються по лінії з
                однаковими відстанями між елементами та країв блоку 55 px 55 px 55 px</li>
            <li>baseline Елементи вирівнюються по лінії рядка тексту контейнера
                Працює лише коли задається для другої лінії</li>
            <li>place-content — це CSS властивість, яка є скороченням
                для властивостей justify-content та align-content</li>
        </ul>
    </div>
    <div class="card p-5 m-5 col-5">
        <p>Вирівнювання по другій лінії - align-items — це CSS властивість, яка відповідає
            за вирівнювання елементів по другій лінії</p>
        <ul>
            <li>baseline Елементи вирівнюються по лінії рядка тексту контейнера
                Працює лише коли задається для другої лінії</li>
            <li>flex-start Елементи вирівнюються на початку другої лінії / зверху</li>
            <li>flex-end Елементи вирівнюються в кінці другої лінії знизу</li>
            <li>center Елементи вирівнюються по центру другої лінії</li>
            <li>stretch Елементи заповнюють всю другу лінію</li>
        </ul>
        <strong>align-self — це CSS властивість, яка відповідає за індиві-
            дуальне вирівнювання певного елементів по другій лінії</strong>
        <p>для цього значення також використовуються попередні властивості, з тих що переічені вище, та це налаштування
            дає змогу перезаписувати властивості
            елементу. блоку батьківських налаштувань,
            т а стилізувати окремі блоки.картки.елементи. вказуючи флигн селф.нАПРИКЛАД ВИКОРИСТОВУЮЧІ
            ЗВЕРНЕННЯ ДО ЕЛЕМЕНТА ЧЕРЕЗ ЛАСТ ОФ ТАЙП АБО СЕКОНД ЧАИЛД</p>
        <strong>flex-basis — це властивість що задає розміри елементів. А саме дає змогу редактувати ширину висоту
            максимальні
            мінімальні значення </strong>
        <ul>
            <li>auto Значення за замовчуванням, елементи займають
                доступний простір рівномірно;.</li>
            <li>довжина Встановлює ширину в пікселях, відсотках або інших
                одиницях виміру;</li>
            <li>content Визначає ширина контенту внутрішнього блоку</li>
            <li>fit-content Визначається ширина контенту внутрішнього блоку,
                якщо вона менша за доступний простір</li>
            <li>min-content Визначається мінімальна ширина контенту
                внутрішнього блоку;</li>
            <li>max-content Визначається максимальна ширина контенту
                внутрішнього блоку</li>

        </ul>
        <p> "+" flex-grow — це CSS властивість, яка використовується
            для встановлення пропорційного збільшення
            довжини елементів по головній лінії/ Значення надається у формі числа</p>
        <p> "-" flex-shrink — це CSS властивість, яка використовується
            для встановлення пропорційного зменшення
            довжини елементів по головній лінії</p>
        <p>order — це CSS властивість, яка використовується для
            зміни порядку розміщення елементів</p>
        <p>flex — це універсальна CSS властивість, яка
            використовується для задання гнучкості довжини елементів</p>
        {{!-- всі значення надаються у чсловому наченні. працює лише з властивістю ФЛЕКС --}}
        <p> ДЛЯ ВІДСТУПІВ</p>
        <p>gap — це CSS властивість, яка використовується
            для встановлення проміжку між елементами</p>
        <strong>Значення Опис
            <ul>
                <li>С — проміжок між колонками </li>
                <li>R (row) row-gap </li>
                <li>C (column) column-gap</li>
            </ul>
        </strong>


    </div>

</main>