<main class="row p-5">
    <div class="card p-5">
        <p class="display-4 m-auto p-3 col-3 text-center">
            Hello World!
        </p>
        <hr>
        <p>властивості виведення тексту</p>
        <p>Перша з розглянутих color- зрозуміла</p>
    </div>
    <div class="card p-5 col-5 m-5">
        <p id="title" class="rr p-3 col-8">Вендорні преффікси </p>
        <p>Це префікси що забезпечують корректну роботу цсс властивостей у ріщних браузерах </p>
        <ul>
            <li>-webkit - Chrome,Safari,Opera</li>
            <li>-moz - mozilla firefox</li>
            <li>-ms - internet explorer Microsoft Edge</li>
            <li>-o - Opera</li>
            <li>text-fill-color Колір заливки тексту який визначае колр заливки тексту </li>
            <p class="teg">text-stroke використовується разом із цим тегом - визначає колір та ширину для текстових
                символів</p>
            <p>Direction rtl ltr- напрямок тексту </p>
        </ul>
    </div>
    <div class="card p-5 col-5 m-5">
        <p id="title" class="rr p-3 col-8">Глобальні значення властивостей</p>
        <ul>
            <li id="test">initial - значення властивості встановлюється за замовченням </li>
            <li>inherit - Значення властивості успадковується від батьківського тегу</li>
            <li>unset - значення успадковується від батьківського тегу, якщо такої можливості немає встановлюеться за
                замовчуванням</li>
            <li>none - скасовує будьякі значення властивості та встановлені значення за замовчуванням</li>

        </ul>
    </div>
    <div class="card p-5 col-5 m-5">
        <p id="title" class="rr p-3 col-8">Орієнтація тексту</p>
        <ul>
            <li><em id="gg">writing-mode </em> відповідає за <p id="gh">орієнтацію </p> тексту </li>
            <li>horizontal-tb горизонтальний рядок вертикальна колонка значення за замовчуванням</li>
            <li>vertical-rl вертикальний рядок, горизонтальна колонка з напрямком з справа на ліво</li>
            <li>vertical-lr вертикальний рядок, горизонтальна колонка з напрямком з ліва на право</li>
            <li> text-align властивість котра встановлює горизонтальне вирівнювання тексту</li>
            <h6><b>значення</b> </h6>
            <p>left right center</p>
            <p>start - вирівнюється по початковій стороні відповідно до орієнтації тексту</p>
            <p>end - вирівнюється по кінцевій стороні відповідно до напрямку та орєнтації тексту</p>
            <p>justify - розтягує текст на усю ширину додаючі необхідні пробіли, при необхідності</p>

        </ul>
    </div>
    <div class="card p-5 col-5 m-5">
        <p id="title" class="rr p-3 col-8">Регістр тексту - text-transform</p>
        <p>Властивість яка дозволяє змінювати регістр букв у тексті</p>
        <ul>
            <li>uppercase - перетворює текст у верхній регістр </li>
            <li>lowercase - перетворює текст у нижній регістр </li>
            <li id="tt">capitalize - перетворює кожну першу букву у словах на верхній регістр</li>
        </ul>
    </div>
    <div class="card p-5 col-5 m-5">
        <p id="title" class="rr p-3 col-6"> Ширина табуляції тексту tab-size</p>
        <p>Властивість яка дозволяє змінювати ширину табуляції у тексті
            У значення просто ставиться ціле число</p>
        <p id="title" class="rr p-3 col-6">letter-spacing </p>
        <p>властивість яка визначчає відстані між символами у тексті. Значення вводится у числі пикселів або прописувати
            ЕМ</p>
    </div>
    <div class="card p-5 col-5 m-5">
        <p id="title" class="rr p-3 col-8">Text-decoration </p>
        <p>властивість яка додає ефекти до тексту </p>
        <p>Отже доступні такі значення :
        <ul id="text">
            <li>L-яка лінія: text-decoration-line</li>
            <ol>
                <li>underline під текстом; overline над текстом; line-through перечеркування</li>
            </ol>
            <li> T- тип лінії: text-decoration-style </li>
            <ol>
                <li>solid-звичайна doubl- подвійна; dotted-пунктир; dashed -штрихова; wavy-хвиляста</li>
            </ol>
            <li>C-колір text-decoration-color</li>
        </ul>
        </p>

    </div>
    {{!-- ЧЕРГОВИЙ УКРОК : ШРИФТИ ТА ЇХ ВИКОРИСТАННЯ --}}
    <div class="card">
        <p id="title" class="rr p-3 col-3"> ШРИФТИ</p>
        <p>fONT-FAMILY</p>
        <ul>
            <li>serif - вказує на шрифти з засічками які використовуються для друкованих матеріалів або документів</li>
            <li>sans-serif - вказує на шрифтбез засічок, використовується для екранного відображення</li>
            <li>monospace - вказує на ті шрифти де всі символи мають однакову ширину, зазвичай використовуються для
                відображення коду</li>
            <li>cursive - вказує на ті що імітують почерк чи графіку</li>
            <li>fantasy - вказує на фантазійні шрифти, що можуть мати незвичайну форму</li>
        </ul>
    </div>
    <div class="card p-5 col-5 m-5">
        <p id="title" class="rr p-3 col-3"> Розміри</p>
        <p>fONT-SIZE - вводиться у пікселях</p>
        <ul>
            <li>xx-small дуже малий розмір</li>
            <li>small малий розмір</li>
            <li>medium середній, відповідає розміру за замаовчуванням</li>
            <li>large великий розмір шрифту</li>
            <li>x-large встановллює дуже вликий розмір шрифту</li>
            <li>xx-large - встановлює супер великий розмір шрифту</li>
            <p>також є можливість виставляти відносні до батьківського розміри шрифтів, використовуючи smaller або
                larger => такі варанти коригування використовуються для створення адаптивних дизайнів </p>
            <p>Крім того використовуються абсолютні значення - у конкретних одиницях виміру</p>
        </ul>
    </div>
    <div class="card p-5 col-5 m-5">
        <p id="title" class="rr p-3 col-3"> Товщина</p>
        <p>fONT-weight</p>
        <ul>
            <li>normal 400 - нормальна</li>
            <li>bold 700 - жирна товщина </li>
            <li>bolder - встановлює товщину шрифту жирнішу ніж наявне значення</li>
            <li>lighter - такий самий принцип але меньш жирнішу</li>
            <p>також доступні числові значення від 100 до 900 - що надає значення рівню толщмни</p>
            <p>font-style - окрема властивість для встановлення стилю єлемента, використовуєються такі значення:
                normal-звичайний стиль; italic-кірсив; oblique- нахил</p>
        </ul>
    </div>
    <div class="card p-5 col-5 m-5">
        <p id="title" class="rr p-3 col-5"> прогрузка шрифту</p>
        <p>fONT-DISPLAY</p>
        <P>ДАЄ ВКАЗІВКУ БРАУЗЕРУ , як поводитися коли шрифт завантажується з сервера</P>
        <ul>
            <li>auto -За замовчуванням , браузер використовуює свою стратегію</li>
            <li>block -Вказує приховати текст, поки шрифт не заввантажеться</li>
            <li>swap -браузер повинен підібрати схожий шрифт, поки не завантажеться заданий</li>
            <li>fallback -браузер приховає шрифт на 100 мс , якщо він ще не буде заванажений використає резервний шрифт
                , а якщо є змінить його приблщзно через 3 сек</li>
            <li>optional -може відкласти завантаження шрийту поки сторінка не буде завантажена повністю</li>
        </ul>
    </div>
    {{!-- теоричтичний урок із властивостями та командами цсс що вже актуальні але недостатньо розповсюджені --}}
    <div class="card p-5 col-5 m-5">
        <p id="title" class="rr p-3 col-5">Покищо нерозповсюджені властивості</p>
        <p>Оголошення кольору</p>
        <P>ДАЄ ВКАЗІВКУ БРАУЗЕРУ , як поводитися коли шрифт завантажується з сервера</P>
        <ul>
            <li>lch() — це CSS функція, яка представляє колір у просторі
                LCH (Lightness, Chroma, Hue) з використанням значень
                світлості, насиченості та відтінку.</li>
            <li>lightness Визначає світлість коліру. Має значення від 0 до
                100, де 0 - абсолютний чорний колір, а 100 - абсолютно білий
            <li> chroma - Визначає насиченість коліру. Має значення від 0 до
                100, де 0 - відсутність насиченості, а 100 -
                максимальна насиченість </li>
            <li> hue Визначає відтінок коліру. Має значення від 0 до 360,
                де 0 і 360 - червоний колір, 120 - зелений колір, а
                240 - синій колір </li>
            <li>A Прозорість, яка представляється як число в діапазоні від 0% до 100%</li>
            <li>color-mix() — це CSS функція, яка застосовується для
                створення нового колірного значення, змішуючи два
                вихідних кольори у відсотках або числах.</li>
            <li>accent-color — це CSS властивість, яка встановлює колір
                акценту, який використовується в різних елементах
                інтерфейсу, таких як кнопки, радіо-кнопки, чекбокси, полоси
                прокрутки та інші</li>
            <li>hwb() — це CSS функція, яка використовується для

                визначення кольорів за стандартом HWB (Hue-Whiteness-
                Blackness) в CSS.</li>
            <ul>
                <li>hue - Відтінок від 0 до 360 градусів</li>
                <li>whiteness - Насиченість білого від 0 до 100%</li>
                <li>blackness - Насиченість чорного від 0 до 100%</li>
            </ul>
        </ul>
    </div>
    <div class="card p-5 col-5 m-5">
        <p id="title" class="rr p-3 col-5"> Рендеринг тексту</p>

        <P>text-rendering — використовується для встановлення того,
            як браузер повинен візуалізувати текст на сторінці. Потрібно для СЕО-оптимізації</P>
        <ul>
            <li>auto -Браузер визначає, який метод рендерингу (малюванні)
                тексту використовувати.Це значення за замовчуванням.</li>
            <li>optimizeSpeed - швидший метод рендерингу, але текст може
                відображатись менш якісно. Він вимикає кернінг і лігатури.</li>
            <li>optimizeLegibility Краща якість рендерингу тексту, але може бути повільнішим.</li>
            <li>fallback -браузер приховає шрифт на 100 мс , якщо він ще не буде заванажений використає резервний шрифт
                , а якщо є змінить його приблщзно через 3 сек</li>
            <li>geometricPrecision Рендеринг тексту точніший, але менш оптимальний для відображення на великих екранах.
            </li>
        </ul>
    </div>
    <div class="card p-5 col-5 m-5">
        <p id="title" class="rr p-3 col-5"> Акцент тексу</p>

        <P>text-emphasis — використовується для встановлення відмітки над певним текстом. Не працює Opera Mini та IE</P>
        <ul>
            <li>
                <color> style - стиль відмітки, color - колір відмітки, Доступна окрема властивість text-emphasis-style
                    <p>Доступна окрема властивість text-emphasis-color</p>
            </li>
            <li id="dote">filled Робить відмітку тексту заповненою
            <li id="dote">open Робить відмітку тексту лише обведенням</li>
            <li id="dote1">dot Відображує маленькі кружечки («•») як позначки</li>


            <li id="dote2"> circle Відображує великі кола («●») як позначки</li>
            <li id="dote3">
                <p> double-circle </p>Відображує подвійні кола («◉») як позначки
            </li>
            <li id="dote4"> triangle Відображує трикутники («▲») як позначки</li>
            <li id="dote5"> sesame Відображує кунжут («﹅») як позначки.
                Це форма за замовчуванням у вертикальних режимах
                написання, якщо іншої форми не задано.</li>
        </ul>
    </div>
    {{!-- блок відображення --}}
    <div class="card p-5 col-5 m-5">
        <p id="title" class="rr p-3 col-5"> ВІДОБРАЖЕННЯ</p>
        <p>Display - властивість що визначає відображення елемента на вебсторінці</p>
        <ul>
            <li>none елемент не відображється зовсім, але його можливо використовувати як спливаюче вікно </li>
            <li class="hhh">block елемент відображається як блок, та займє усю ширину батьківського елемента</li>
            <li class="hhline">inline елемент відображається в рядку, поряд з іншими елементами, не переноситься на
                новийй рядок</li>
            <li class="hhlibl">inline-block елемент відображається в рядку але мое мати ширину та висоту, внутрішні
                відступи та інщі властивостіЗОКРЕМА ДЛЯ ТАКОЇ ВЛАСТИВОСТІ МОЖЛИВО ЗАДАВАТИ ВИСОТУ ТА ІНЩЕ НА ВІДМІНУ ВІД
                LINE </li>
        </ul>
    </div>
    <div class="card p-5 col-5 m-5">
        <p id="title" class="rr p-3 col-5"> ВІДСТУПИ</p>
        <p>margin -ЗАДАЄ ЗОВНІШНІ ВЛАСТИВОСТІ</p>
        <ul>
            <li>auto - автоматичне вирівнювання відступів, а також можливе відсоткове співвідношення або вказання
                конкретних одиниць вимірювання</li>
            <p>на один марджин можливо навішати усі відступи по годинниковій стрілці, починаюи з відступів зверху, отже
                верх право низ ліво, якщо лише два тоді задається спочатку вертикальний а потім горизонтальній відступи
            </p>
            <p>для того щоб скористатися властивістю margin auto потрібно щоб елемент був заданий display block</p>

        </ul>
        <p>width -ширина</p>
        <ul>
            <li>auto - автоматичне вирівнювання відступів, в залежності від контенту та властивостей батьківського
                елементу</li>
            <p>також можливе надання значенняя довжини в конкретних одиницях вимірювання або у відсотковому
                співвідношенні</p>
            <li>fit-content - задає ширину елемента що відповідає його контейнеру</li>
            <li>min-content - задає мінімальну ширину лемента</li>
            <li>max-content - задає максимальну ширину</li>
        </ul>
        <p>padding -внутрішні відступи</p>
        <ul>
            <p>Можливе надання значенняя довжини в конкретних одиницях вимірювання або у відсотковому співвідношенні</p>

        </ul>
        <p>height - визначає висоту елемента</p>
        <ul>
            <li>auto - автоматичне вирівнювання відступів, в залежності від контенту та властивостей батьківського
                елементу</li>
            <p>також можливе надання значенняя довжини в конкретних одиницях вимірювання або у <strong>відсотковому
                    співвідношенні</strong> </p>
            <li>fit-content - задає ширину елемента що відповідає його контейнеру</li>
            <li>min-content - задає мінімальну ширину лемента</li>
            <li>max-content - задає максимальну ширину</li>
            <li> <em> <b>min-height</b> </em> - значення мінмальної висоти, в якій корректні усі вищезаначені
                властивості</li>
            <li> <em> <b>max-height</b> </em> - значення максимальної висоти, в якій корректні усі вищезаначені
                властивості</li>

        </ul>
    </div>
    <div class="card p-5 col-5 m-5">
        <p id="title" class="rr p-3 col-5"> РОЗМІР КОРОБКИ</p>
        <p>BOX-SIZING - властивість що визначає ЯК РОЗРАХУВАТИ РОЗМІР ЕЛЕМЕНТА</p>
        <ul>
            <li>CONTENT-BOX розмір елементів включає лише його вміст не враховуючі внутрішні відступита рамку </li>
            <li>BORDER-BOX розмір елемента вклчає його внутрішні відступи та рамки </li>
        </ul>
    </div>
    {{!-- обрізання тексту --}}
    <div class="card p-5 col-5 m-5">
        <p id="title" class="rr p-3 col-5"> Видимість</p>
        <p>visibility - властивість що яка допомогає приховати певний елемент з екрана браузера та не ламає верстку</p>
        <ul>
            <li>hidden приховати елемент </li>
            <li>visible- показати елемент </li>
            <li>collepse- працює як хайден але покращує відображення у певних випадках </li>
            <h6>випадки для колапс</h6>
            <p>Коли ми працюємо з таблиями "табле" дозволяє приховати рядки або стовпці таблиці видаляючі їх простір але
                зерігаючи ророзміриінших елементів</p>
            <p>Згорнуті елементи при роботі з дисплей флекс та рубіновані анотації рубі, простір який вони займали -
                видалено</p>
        </ul>
        <ul>
            <h6>Обрізання блоку <b>overflow</b> властивість яка відповідає ща те як саме потрібно показати контент</h6>
            <li>overflow-x -якщо треба задати для горизонтальної сторони</li>
            <li>overflow-y -до вертикальної сторони</li>
            <p>auto браузер автоматично визначає чи повинен додавати смужку прокрутки, відповідно до розміру змісту</p>
            <p>visible елемент виводиться з області блоку але може призвести до пререкритття інших елементів </p>
            <p>hidden вміст що виходить за межі блоку буде приховано</p>
            <p>clip працює як хайден але повністю забороняє прокрутку </p>
            <p>scroll додае смужки прокрутки щоб користувач міг прокручувати вміст але вони займають місце справа</p>
            <p>overlay працює як ауто але смужки прокручування намальовані поверх контенту й не займають місце збоку</p>
        </ul>
    </div>
    <div class="card p-5 col-5 m-5">
        <p id="title" class="rr p-3 col-5"> Обрізання тексту</p>
        <p>text-overflow - властивівст яка доапомагає додати три крапки</p>
        <ul>
            <li>clip текст обрізаєтся коли він виходить за межі блоку значення за замовчуванням </li>
            <li>ellipsis текст обрізаєтся коли він виходить за межі блоку але в кінці додається три крапки</li>
        </ul>
    </div>
    <div class="card p-5 col-5 m-5">
        <p id="title" class="rr p-3 col-5"> Пропуск білих символів</p>
        <p>white-space властивість яка обробляє пробіли між словами та перенесення рядків усерелині елемента/p>
        <ul>
            <li>normal між словами вставляється по одному пропуску, додаткові відкидаются</li>
            <li>nowrap забороняє перенесення рядків за виинятко застосування бр</li>
            <li>pre відображає пробіи та перенесення так я є в коді </li>
            <li>pre-wrap - відображає пробіли та перенесення так як в коді але в потрібних місцях переноситься текст
            </li>
            <li>pre-line виділяє усі додаткові пробіли в коді відображає символи перенесення та переносить текст </li>
            <li>break-space працює як пре врап але переносить пробіли на новий рядок</li>
        </ul>
        <p>overflow-wrap - властивість яка відповідає за те як саме потрібно перенести текст якщо все останне </p>
        <ul>
            <li>normal значення за замовчуванням</li>
            <li>anywhere розризв слова буде відбуватися у будь-яких місцях</li>
            <li>breack-word якщо слово не поміщаеться у потрібному рядку, то розвир слова буде відбуватися у накращому
                місці</li>
        </ul>
    </div>
    <div class="card p-5 col-5 m-5">
        <p id="title" class="rr p-3 col-5"> Пропуск білих символів</p>
        <ul>
            <li>normal між словами вставляється по одному пропуску, додаткові відкидаются</li>
            <li>nowrap забороняє перенесення рядків за виинятко застосування бр</li>
            <li>pre відображає пробіи та перенесення так я є в коді </li>
            <li>pre-wrap - відображає пробіли та перенесення так як в коді але в потрібних місцях переноситься текст
            </li>
            <li>pre-line виділяє усі додаткові пробіли в коді відображає символи перенесення та переносить текст </li>
            <li>break-space працює як пре врап але переносить пробіли на новий рядок</li>
            <p>Також є властивість word-break яка відповідае за перенесення усіх слів а не лише одного слова</p>
            <li>normal значення за замовчуванням</li>
            <li>break-all перенесення слів не застосовується але слова розбиваються у потібному місці</li>
            <li>keep-all забороняє розрив між словами </li>
            <li>break-word слова які не вміщаються будуть розбиті на два слова щоб влізти</li>
        </ul>
    </div>
    <div class="card p-5 col-5 m-5">
        <p id="title" class="rr p-3 col-5"> Перенеення слова через символ</p>
        <p>hyphens - властивість дозволяє створювати мікі переноси слів на новий рядок</p>
        <ul>
            <li>none слова не переносяться</li>
            <li>auto браузер сам вирішує як переносити </li>
            <li>manual слова переносяться через символ &shy;</li>

        </ul>
        <p>hyphenate-character - властивість дозволяє задавати зовнішній вигляд для переносу</p>
        <ul>
            <li>normal - слова не переносяться</li>
            <li>Довжина задається у ббудь яких одиницях вимірювання</li>
        </ul>
        <p>word-spacing інтервал між словами у тексті</p>
        <p>resize дає можливіссть змінити користувачу розміри елемента за допомогою мищі </p>
        <ul>
            <li>none по замовченню </li>
            <li>both по горизонталі та по вертикалі</li>
            <li>horizontal по горизонталі</li>
            <li>vertical дозволяє змінювати розміри елемента лише по вертикалі</li>
        </ul>
    </div>


</main>