<main class="row p-5">
    <div class="card p-5">
        <p class="display-4 m-auto p-3 col-3 text-center">
            Hello World!
        </p>
        <hr>
        <p>властивості виведення тексту</p>
        <p>Перша з розглянутих color- зрозуміла</p>
    </div>
    <div class="card p-5 col-6 mb-3">
        <p id="title" class="rr p-3 col-8">Вендорні преффікси </p>
        <p>Це префікси що забезпечують корректну роботу цсс властивостей у ріщних браузерах </p>
        <ul>
            <li>-webkit - Chrome,Safari,Opera</li>
            <li>-moz - mozilla firefox</li>
            <li>-ms - internet explorer Microsoft Edge</li>
            <li>-o - Opera</li>
            <li>text-fill-color Колір заливки тексту який визначае колр заливки тексту </li>
            <p class="teg">text-stroke використовується разом із цим тегом - визначає колір та ширину для текстових
                символів</p>
            <p>Direction rtl ltr- напрямок тексту </p>
        </ul>
    </div>
    <div class="card p-5 col-6 mb-3">
        <p id="title" class="rr p-3 col-8">Глобальні значення властивостей</p>
        <ul>
            <li id="test">initial - значення властивості встановлюється за замовченням </li>
            <li>inherit - Значення властивості успадковується від батьківського тегу</li>
            <li>unset - значення успадковується від батьківського тегу, якщо такої можливості немає встановлюеться за
                замовчуванням</li>
            <li>none - скасовує будьякі значення властивості та встановлені значення за замовчуванням</li>

        </ul>
    </div>
    <div class="card p-5 col-6 mb-3">
        <p id="title" class="rr p-3 col-8">Орієнтація тексту</p>
        <ul>
            <li><em id="gg">writing-mode </em> відповідає за <p id="gh">орієнтацію </p> тексту </li>
            <li>horizontal-tb горизонтальний рядок вертикальна колонка значення за замовчуванням</li>
            <li>vertical-rl вертикальний рядок, горизонтальна колонка з напрямком з справа на ліво</li>
            <li>vertical-lr вертикальний рядок, горизонтальна колонка з напрямком з ліва на право</li>
            <li> text-align властивість котра встановлює горизонтальне вирівнювання тексту</li>
            <h6><b>значення</b> </h6>
            <p>left right center</p>
            <p>start - вирівнюється по початковій стороні відповідно до орієнтації тексту</p>
            <p>end - вирівнюється по кінцевій стороні відповідно до напрямку та орєнтації тексту</p>
            <p>justify - розтягує текст на усю ширину додаючі необхідні пробіли, при необхідності</p>

        </ul>
    </div>
    <div class="card p-5 col-6 mb-3">
        <p id="title" class="rr p-3 col-8">Регістр тексту - text-transform</p>
        <p>Властивість яка дозволяє змінювати регістр букв у тексті</p>
        <ul>
            <li>uppercase - перетворює текст у верхній регістр </li>
            <li>lowercase - перетворює текст у нижній регістр </li>
            <li id="tt">capitalize - перетворює кожну першу букву у словах на верхній регістр</li>
        </ul>
    </div>
    <div class="card p-5 col-6 mb-3">
        <p id="title" class="rr p-3 col-6"> Ширина табуляції тексту tab-size</p>
        <p>Властивість яка дозволяє змінювати ширину табуляції у тексті
            У значення просто ставиться ціле число</p>
        <p id="title" class="rr p-3 col-6">letter-spacing </p>
        <p>властивість яка визначчає відстані між символами у тексті. Значення вводится у числі пикселів або прописувати
            ЕМ</p>
    </div>
    <div class="card p-5 col-6 mb-3">
        <p id="title" class="rr p-3 col-8">Text-decoration </p>
        <p>властивість яка додає ефекти до тексту </p>
        <p>Отже доступні такі значення :
        <ul id="text">
            <li>L-яка лінія: text-decoration-line</li>
            <ol>
                <li>underline під текстом; overline над текстом; line-through перечеркування</li>
            </ol>
            <li> T- тип лінії: text-decoration-style </li>
            <ol>
                <li>solid-звичайна doubl- подвійна; dotted-пунктир; dashed -штрихова; wavy-хвиляста</li>
            </ol>
            <li>C-колір text-decoration-color</li>
        </ul>
        </p>

    </div>
    {{!-- ЧЕРГОВИЙ УКРОК : ШРИФТИ ТА ЇХ ВИКОРИСТАННЯ --}}
    <div class="card">
        <p id="title" class="rr p-3 col-3"> ШРИФТИ</p>
        <p>fONT-FAMILY</p>
        <ul>
            <li>serif - вказує на шрифти з засічками які використовуються для друкованих матеріалів або документів</li>
            <li>sans-serif - вказує на шрифтбез засічок, використовується для екранного відображення</li>
            <li>monospace - вказує на ті шрифти де всі символи мають однакову ширину, зазвичай використовуються для
                відображення коду</li>
            <li>cursive - вказує на ті що імітують почерк чи графіку</li>
            <li>fantasy - вказує на фантазійні шрифти, що можуть мати незвичайну форму</li>
        </ul>
    </div>
    <div class="card">
        <p id="title" class="rr p-3 col-3"> Розміри</p>
        <p>fONT-SIZE - вводиться у пікселях</p>
        <ul>
            <li>xx-small дуже малий розмір</li>
            <li>small малий розмір</li>
            <li>medium середній, відповідає розміру за замаовчуванням</li>
            <li>large великий розмір шрифту</li>
            <li>x-large встановллює дуже вликий розмір шрифту</li>
            <li>xx-large - встановлює супер великий розмір шрифту</li>
            <p>також є можливість виставляти відносні до батьківського розміри шрифтів, використовуючи smaller або
                larger => такі варанти коригування використовуються для створення адаптивних дизайнів </p>
            <p>Крім того використовуються абсолютні значення - у конкретних одиницях виміру</p>
        </ul>
    </div>
    <div class="card">
        <p id="title" class="rr p-3 col-3"> Товщина</p>
        <p>fONT-weight</p>
        <ul>
            <li>normal 400 - нормальна</li>
            <li>bold 700 - жирна товщина </li>
            <li>bolder - встановлює товщину шрифту жирнішу ніж наявне значення</li>
            <li>lighter - такий самий принцип але меньш жирнішу</li>
            <p>також доступні числові значення від 100 до 900 - що надає значення рівню толщмни</p>
            <p>font-style - окрема властивість для встановлення стилю єлемента, використовуєються такі значення:
                normal-звичайний стиль; italic-кірсив; oblique- нахил</p>
        </ul>
    </div>
    <div class="card">
        <p id="title" class="rr p-3 col-3"> прогрузка шрифту</p>
        <p>fONT-DISPLAY</p>
        <P>ДАЄ ВКАЗІВКУ БРАУЗЕРУ , як поводитися коли шрифт завантажується з сервера</P>
        <ul>
            <li>auto -За замовчуванням , браузер використовуює свою стратегію</li>
            <li>block -Вказує приховати текст, поки шрифт не заввантажеться</li>
            <li>swap -браузер повинен підібрати схожий шрифт, поки не завантажеться заданий</li>
            <li>fallback -браузер приховає шрифт на 100 мс , якщо він ще не буде заванажений використає резервний шрифт
                , а якщо є змінить його приблщзно через 3 сек</li>
            <li>optional -може відкласти завантаження шрийту поки сторінка не буде завантажена повністю</li>
        </ul>
    </div>
</main>