.card {
  font-family: 'Fira Sans', sans-serif;
  letter-spacing: 2px;
  border-radius: 30px;
  border-style: hidden;
  margin-bottom: 40px;
  box-shadow: 10px 15px 30px 1px rgba(24, 25, 18, 0.772);
  background: rgb(25, 0, 89);
  background: linear-gradient(
    90deg,
    rgba(18, 0, 64, 0.43) 16%,
    rgba(30, 112, 121, 0.737) 50%,
    rgba(1, 79, 76, 0.789) 67%
  );
  color: rgba(155, 241, 238, 0.741);
}
#title::before {
  border-radius: 30px;
  background: rgba(126, 3, 89, 0.412) 16%;
  color: rgb(255, 255, 255);
  box-shadow: none;
  text-transform: uppercase;
  margin: auto;
  position: absolute;
}
#title:hover {
  border-radius: 50px;
  background: rgba(176, 14, 128, 0.412) 16%;
  color: rgb(255, 255, 255);
  box-shadow: none;
  box-shadow: 10px 15px 30px 1px;

  margin-left: 80px;
  transition: 1s 0.5s;
}
.card ~ p::before {
  color: rgba(155, 241, 238, 0.741);
  border-radius: 30px;
  background-color: rgba(89, 59, 18, 0.813) 50%;
  padding-left: 10px;
  margin: 15px 10px;
}
.card ~ p::after {
  color: rgba(155, 241, 238, 0.741);
  border-radius: 30px;
  background-color: rgba(238, 145, 15, 0.528) 50%;
  padding-right: 10px;
  margin: 15px 10px;
  transition: 2s 0.5s;
}
.teg {
  color: aquamarine;
  -webkit-text-fill-color: rgb(236, 236, 240);
  -webkit-text-stroke: 0.5px rgb(10, 9, 8);
}
.teg:focus,
.teg:hover {
  -webkit-text-fill-color: rgb(8, 7, 12);
  -webkit-text-stroke: 0.5px rgb(14, 5, 74);
  direction: rtl;
}
#test {
  color: initial;
  -webkit-text-fill-color: initial;
  -webkit-text-stroke: initial;
}
#gg {
  writing-mode: vertical-rl;
}
#gh {
  writing-mode: vertical-lr;
}
#tt {
  text-transform: capitalize;
}
#text {
  text-decoration: underline dotted rgb(158, 233, 250);
}
#text:hover {
  text-decoration: line-through wavy rgb(232, 18, 3);
}

* {
  font-family: 'Fira Sans', sans-serif;
  font-family: 'Noto Sans Bassa Vah', sans-serif;
}
#dote1 {
  text-emphasis-style: dot;
}
#dote2 {
  text-emphasis-style: circle;
}
#dote3 {
  text-emphasis-style: double-circle;
}
#dote4 {
  text-emphasis-style: triangle;
}
#dote5 {
  text-emphasis-style: sesame;
}
.hhh {
  display: block;
}
.hhline {
  display: inline;
}
.hhlibl {
  display: inline-block;
}
